/* choose-content is the top level in this component */
.choose-content {
    background-color: green;
}

.preview-name {
    background-color: red;
}

.preview-snippet {
    background-color: blue;
}