.App {
  text-align: center;
}

#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-item {
  display: inline-block;
  padding: 8px;
  background-color: #dddddd;
  cursor: pointer;
}